html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

#map1 {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
}

#map2 {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
}

#chart1 c3-line-rank {
  stroke-width: 8px;
  color: '#FFFFFF';
}

#chart1 c3-bar-miles {
  color: '#FFA500';
}

#chart2 .c3-line-OSU {
  stroke-width: 6px;
}

#chart_qb {
  position: topleft;
  font-family: 'Ubuntu', sans-serif;
}

#chart_rb {
  position: topmiddle;
  font-family: 'Ubuntu', sans-serif;
}

#chart_wr {
  position: topright;
  font-family: 'Ubuntu', sans-serif;
}

#chart_te {
  position: left;
  font-family: 'Ubuntu', sans-serif;
}

#chart_ol {
  position: center;
  font-family: 'Ubuntu', sans-serif;
}

#chart_dl {
  position: right;
  font-family: 'Ubuntu', sans-serif;
}

#chart_lb {
  position: bottomleft;
  font-family: 'Ubuntu', sans-serif;
}

#chart_db {
  position: bottomright;
  font-family: 'Ubuntu', sans-serif;
}

.legend {
    line-height: 16px;
    width: 170px;
    color: #333333;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.legend b {
  font-size: 16px;
  float: center;
}
